/*===============================================*/
/* 00. PRELOADER		 						 */
/*===============================================*/
.heart-animation i{
	color:#1EA6FA;
}

.top-heart{
	color:#1EA6FA;
}

.her-name{
	color:#1EA6FA;
}

/*===============================================*/
/* 01. GENERAL			 						 */
/*===============================================*/

h1 a:hover, h2 a:hover, h3 a:hover, 
h4 a:hover, h5 a:hover, h6 a:hover{
	color:#1EA6FA;
}

/*===============================================*/
/* 03. NAV MENU	 	 							 */
/*===============================================*/

/* ----------------------------------------------*/
/* 03.1 Parent Menu								 */
/* ----------------------------------------------*/
#nav-menu > li:before{
	color:#1EA6FA;
}

#nav-menu > li a:hover{
	color:#1EA6FA;
}

/* 03.1.1 Transparent 							 */
/* ----------------------------------------------*/
.transparent #nav-menu > li a:hover{
	color:#1EA6FA;
}

/* ----------------------------------------------*/
/* 03.2 Child Menu								 */
/* ----------------------------------------------*/
#nav-menu ul{
	border-top-color:#1EA6FA;
}

#nav-menu ul li a:hover{
	background-color:#1EA6FA;
	border-bottom:solid thin #1EA6FA;
}


/* ----------------------------------------------*/
/* 04.2 Menu Icon					 			 */
/*-----------------------------------------------*/

/* 04.2.1 Standard Menu Icon */
/* ----------------------------------------------*/
#menu-icon.white a:hover i, #menu-icon a:hover i{
	color:#1EA6FA;
}

/* 04.2.2 Sticky Menu Icon */
/* ----------------------------------------------*/
#sticky-menuicon a:hover{
	background-color:#1EA6FA;
}

/* ----------------------------------------------*/
/* 04.3 Sidebar Menu				 			 */
/*-----------------------------------------------*/

/* 04.3.2 Close Button */
/* ----------------------------------------------*/
#close-button:hover i{
	color:#1EA6FA;
}

/* 04.3.3 Parent Menu */
/* ----------------------------------------------*/
#side-nav-menu > li > a:before{
	color:#1EA6FA;
}

#side-nav-menu > li a:hover{
	color:#1EA6FA;
}


/*===============================================*/
/* 05. LOGO	 	 	 							 */
/*===============================================*/

/* ----------------------------------------------*/
/* 05.1	CSS Logo								 */
/* ----------------------------------------------*/
.css-logo{
	background-color:#1EA6FA;
}


/*===============================================*/
/* 06. MAIN-SLIDER					 		 	 */
/*===============================================*/

/* 06.5.6 Save The Date Title */
/* ----------------------------------------------*/
.pink-dot{
	color: #1EA6FA;
}

/*===============================================*/
/* 07 PAGE										 */
/*===============================================*/

/* 07.1.6 Page Sidebar				 			 */
/* ----------------------------------------------*/
.sidebar-menu li a:hover{
	color: #1EA6FA;
}


/* ----------------------------------------------*/
/* 07.2 PAGE ELEMENT	 	 					 */
/* ----------------------------------------------*/

/* 07.2.4 Title-Excerpt White Box				 */
/* ----------------------------------------------*/
.title-excerpt .custom-heart-icon{
	color:#1EA6FA !important; 
}


/* 07.2.9 HEART DIVIDER							 */
/* ----------------------------------------------*/
.pink-heart{
	color:#1EA6FA; 
}


/* 07.2.10 BUTTON					 			 */
/* ----------------------------------------------*/
a.de-button.reverse, span.de-button.reverse, input[type=submit].reverse{
	background-color:#1EA6FA; 
	border:solid 1px #1EA6FA;
}

a.de-button:hover, input[type=submit]:hover{
	background-color:#1EA6FA;
	border-color:#1EA6FA;
}

/* 07.2.11 Banner Text				 			 */
/* ----------------------------------------------*/
.banner-text.withlove:after{
	color:#1EA6FA;
}


/*===============================================*/
/* 08 ICON										 */
/*===============================================*/

/*------------------------------------------------*/
/* 08.2 Shape									  */
/*------------------------------------------------*/

/* 08.2.1 Default								  */
/*------------------------------------------------*/
.de-icon.default.reverse{
	color:#1EA6FA;
}

a:hover .de-icon.default, a:hover .de-icon.default.light{
	color:#1EA6FA;
}

/* 08.2.2 Circle, Rounded, Square				  */
/*------------------------------------------------*/
.de-icon.square.reverse, .de-icon.circle.reverse, .de-icon.rounded.reverse{
	background-color:#1EA6FA;
	color:#FFF;
}

.de-icon.square.light.reverse, .de-icon.circle.light.reverse, .de-icon.rounded.light.reverse{
	background-color:#FFF;
	color:#1EA6FA;
}

.de-icon.outline.reverse{
	background-color:transparent;
	color:#1EA6FA;
	border:1px solid #1EA6FA;
}

.de-icon.outline.light, .de-icon.outline.light.reverse{
	background-color:transparent;
	color:#FFF;
	border:1px solid #FFF;
}

a:hover .de-icon.circle, a:hover .de-icon.rounded, a:hover .de-icon.square{
	background-color:#1EA6FA;
	color:#FFF;
	border:none;
}

/*------------------------------------------------*/
/* 08.5 Effect Square/Rounded To Circle 	  	  */
/*------------------------------------------------*/
a:hover .de-icon.effect3{
	background-color:#1EA6FA;
	color:#fff;
	border-radius: 50%;
}

/*===============================================*/
/* 11 FORM										 */
/*===============================================*

/* 11.5 Button									 */
/*-----------------------------------------------*/
form .btn-primary:hover,
form .btn-primary:focus,
form .btn-primary.focus,
form .btn-primary:active,
form .btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-color:#1EA6FA; 
	border-color:#1EA6FA;
	color:#FFF;
 	border-color: #cccccc;
}

/*-----------------------------------------------*/
/* 11.8 Message									 */
/*-----------------------------------------------*/
.message .bg-danger{
	background-color:#1EA6FA; 
}

/*===============================================*/
/* 14. ONEPAGE SECTION							 */
/*===============================================*/

/* ----------------------------------------------*/
/* 14.2 Couple Section							 */
/* ----------------------------------------------*/
.his-her-name .custom-heart{
	background-color:#1EA6FA; 
}

/* ----------------------------------------------*/
/* 14.3 Our Story Section						 */
/* ----------------------------------------------*/
.story-date{
	background-color:#1EA6FA; 
}

/* ----------------------------------------------*/
/* 14.4 Where When Section						 */
/* ----------------------------------------------*/
.and{
	color:#1EA6FA;
}

/* ----------------------------------------------*/
/* 14.6 Don't Miss It / Countdown Section		 */
/* ----------------------------------------------*/
.circle-countdown .countdown-amount {
	background-color:#1EA6FA; 
}

/*===============================================*/
/* 15. PLUGIN CUSTOM							 */
/*===============================================*/
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	background: #1EA6FA; 
}


@media screen and (max-width: 991px) {	
/*===============================================*/
/* 03. NAV MENU	 	 							 */
/*===============================================*/

/* ----------------------------------------------*/
/* 03.1 Parent Menu 						     */
/* ----------------------------------------------*/
#nav-menu li a:hover{
	background-color:#1EA6FA;
	color:#FFF;
}

.transparent #nav-menu li a:hover{
	background-color:#1EA6FA;
	color:#FFF;
}
}